= form_for @user_session, :url => forgotten_passwords_path do |f|
  = t("forgotten_passwords.new.help_text")

  = f.label :login
  = f.text_field :login, :class => "text"

  .submit-wrapper
    = f.submit t("send")
