%h3= t("categories.index.add_category.facebook.title", :name => remote_account.remote_user_name.capitalize)
- accounts = remote_account.facebook_albums

- if accounts.is_a? Exception
  Problem
  = debug accounts  

- else  
  - if accounts.empty?
    No Albums
  
  - else
    - form_for Category.new do |f|
  
      = f.hidden_field :remote_account_id, :value => remote_account.id
      = hidden_field_tag :type, "Category::Facebook"
  
      = f.label :title
      = f.text_field :title

      = f.label :facebook_album_id
      = f.select(:facebook_album_id, options_for_select(remote_account.facebook_albums))

      = f.label :description
      = f.text_area :description

      = f.label :slug
      = f.text_field :slug

      .submit-wrapper
        = f.submit