%h4= t("categories.index.add_category.flickr.title", :name => remote_account.remote_user_name.capitalize)
- form_for Category.new do |f|

  = f.hidden_field :remote_account_id, :value => remote_account.id
  = hidden_field_tag :type, "Category::Flickr"

  = f.label :title
  = f.text_field :title

  #group-flickr-set
    = f.label :flickr_set_id
    = f.select(:flickr_set_id, options_for_select(remote_account.flickr_sets))

  #group-flickr-tags{:style => "display:none"}
    = f.label :flickr_tags
    = f.text_field :flickr_tags

  = f.label :description
  = f.text_area :description

  = f.label :slug
  = f.text_field :slug

  .submit-wrapper
    = link_to t("cancel"), ""
    = f.submit
