%h2 Users

%table#users
  %tr
    %th ID
    %th Email
    %th Title
    %th Description
    %th Categories
    %th Link
    
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= user.portfolio.title
      %td= user.portfolio.description
      %td= user.portfolio.categories.count
      %td
        - if user.portfolio.slug
          = showcase_path(:slug => user.portfolio.slug)
        - else
          No Slug