%h2 Users
= form_for BetaCode.new do |f|
  = f.label :code
  = f.text_field :code
  = f.submit

%table#users
  %tr
    %th ID
    %th Email
    %th Beta Code
    %th Title
    %th Cats/RA
    %th Link
    
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= user.beta_code
      %td= user.portfolio.title
      %td= "#{user.portfolio.categories.count} / #{user.portfolio.remote_accounts.count}"
      %td= link_to user.portfolio.slug, showcase_path(:slug => user.portfolio.slug)

%table#beta-codes
  %tr
    %th ID
    %th Code
    %th Used?
    
  - @beta_codes.each do |beta_code|
    %tr
      %td= beta_code.id
      %td= beta_code.code
      %td{:style => (beta_code.used ? "color:red" : "color:green")}
        = beta_code.used ? "Used" : "Not Used"
    
    