= f.label :title
= f.text_field :title

= f.label :description
= f.text_area :description

= f.label :about_page
= f.check_box :about_page

- unless simple
  = f.label :recent_page
  = f.check_box :recent_page

  = f.label :slug
  = f.text_field :slug

  = f.label :footer
  = f.text_area :footer

  = f.label :google_analytics_code
  = f.text_field :google_analytics_code

  = f.label :facebook_share
  = f.check_box :facebook_share
