%h2= t("portfolios.edit.#{params[:type]}.title")

- form_for @current_portfolio do |f|
  - if params[:type] == "settings" 
    = render :partial => "form", :locals => {:f => f}
  
  - if params[:type] == "theme"
    = f.label :theme_id
    = f.select(:theme_id, options_for_select([[t("portfolios.theme.your_own"), ""]] + THEMES.map{|k,v| [v[:title], k]}, @current_portfolio.theme_id))
  
    = f.label :css
    = f.text_area :css
    
    
  .submit_wrapper
    = f.submit t("portfolios.show.setup_button")