- if @current_portfolio.flickr_user_id.blank?
  %h2= t("portfolios.show.get_started")
  
  %p= raw t("portfolios.show.not_setup")
  
  = form_for @current_portfolio do |f|
    = render :partial => "form", :locals => {:f => f, :simple => true}

    .submit-wrapper
      = f.submit t("portfolios.show.setup_button")
    
- else
  %h2= t("portfolios.show.welcome")
  %p= raw t("portfolios.show.setup_ok", :flickr_user_name => @current_portfolio.flickr_user_name)
  
  - if @current_portfolio.categories.size < 2 or (@current_portfolio.css.blank? and @current_portfolio.theme_id.blank?)
    %h3= t("portfolios.show.left_to_do.title")
    %p= t("portfolios.show.left_to_do.intro")
  
    #todos
      .todo{:class => @current_portfolio.categories.empty? ? "" : "ticked"}
        = link_to t("portfolios.show.left_to_do.category.link"), categories_path
        = t("portfolios.show.left_to_do.category.text")
    
      .todo{:class => (@current_portfolio.css.blank? and @current_portfolio.theme_id.blank?) ? "" : "ticked"}
        = link_to t("portfolios.show.left_to_do.theme.link"), edit_portfolio_path(@current_portfolio, :type => "theme")
        = t("portfolios.show.left_to_do.theme.text")
  
      .todo{:class =>  @current_portfolio.categories.size < 2 ? "" : "ticked"}
        = t("portfolios.show.left_to_do.other_category")