#main-visual
  %h2 Showcase Your Best Pictures
  %p
    Here at ffocused we believe that a portfolio should display only your most stunning work,
    with no clutter & in a layout designed for your photos.

#request-invite
  #request-data
    .first-step
      .wrapper
        %h3 Request Invite
        %p Get early access, like a boss
      - form_for FutureUser.new do |f|
        = f.text_field :email, :id => "email-input"
        = f.submit "Invite Me!", :class => "button-fat"

    .second-step{:style => "display:none"}
      %h3 We will send you a beta code soon
      Thanks for your interest in ffocused, we appreciate it!

#features
  .container
    .feature.not-last.take
      %h3 Take Pictures
      %p
        Grab your camera, go outside and shoot something impressive.
        It could be your mom, your dog or your last trip. Go ahead, we’ll be waiting right here.

    .feature.not-last.link
      %h3 Link Accounts
      %p
        No need to reupload your photos, simply link the services where you store your photos.
        We currently support Flickr, Instagram and Facebook.

    .feature.not-last.select
      %h3 Select Photos
      %p
        Create a category and select what pictures you want to showcase.
        Add titles, descriptions and set the right order.

    .feature.customize
      %h3 Customize Design
      %p
        Select a theme from our growing selection.
        If you know CSS, you can also customize every layout aspect of your portfolio.

.dash-separator

#examples.container
  .example.not-last
    .img-wrapper= image_tag "home/guillaumeflandre.jpg"
    %h3
      = link_to "Guillaume Flandre", "http://ffocused.com/gflandre"
    %p
      Photographer and traveller, Guillaume took pictures all around the world.
      He enjoys alternating candid pictures and staged scenes as well as shooting on film or using a DSLR.
      This approach gives us various yet consistent image collection.
    %p
      = link_to "See his portfolio", "http://ffocused.com/gflandre"


  .example.not-last
    .img-wrapper= image_tag "home/marcgg.jpg"
    %h3
      = link_to "Marc G Gauthier", "http://ffocused.com/marcgg"
    %p
      While traveling Marc developed a taste in photography, and for the past
      years he documents his trips (Iceland, Balkans, Spain, New York...) while trying
      to keep artistic considerations in mind.
    %p
      = link_to "See his portfolio", "http://ffocused.com/marcgg"

  .example
    .img-wrapper= image_tag "home/kevintunc.jpg"
    %h3 
      = link_to "Kevin Tunc", "http://ffocused.com/kevintunc"
    %p
      Kevin is always prepared with his iPhone to shoot what is going on around him.
      In his opinion the best way to share life is instagram
      which he uses to capture everything!
    %p
      = link_to "See his portfolio", "http://ffocused.com/kevintunc"
