%p=raw t("categories.index.blurb")

- if @categories.empty?
  %p= t("categories.index.first_time")
- else
  %p= link_to t("categories.index.new_category"), "#", :class => "show-rel", :rel => "#new-category"

#new-category{:style => (@categories.empty? ? "" : "display:none")}
  - form_for Category.new do |f|
    = f.label :tags
    = f.text_field :tags
  
    = f.label :title
    = f.text_field :title
  
    = f.label :description
    = f.text_area :description
  
    .submit-wrapper
      = f.submit
      
- unless @categories.empty?
  %h2= t("categories.index.all_categories")
  %ul#categories.sortable{:rel => order_categories_portfolios_path}
    - @categories.each do |category|
      %li.category{:rel => category.id}
        = image_tag category.photos.find(:first).flickr_url_s
        .title
          = link_to category.title, category_path(category)
          &nbsp;(#{category.tags})
          , #{category.photos.count} Photos
