%h2= @category.title
= link_to t("categories.show.back"), categories_path, :class => "back-link"
%p= t("categories.show.blurb")
    
%ul#photos.sortable{:rel => order_photos_category_path(@category)}
  - @category.photos.each do |photo|
    %li.photo{:rel => photo.id}
      = image_tag photo.flickr_url_s
      %span.title= photo.title
      
- form_tag reset_category_category_path(@category), :id => "reset-category" do
  = submit_tag t("categories.show.reset")