%h2= t("categories.show.title", :title => @category.title)
= link_to t("categories.show.back"), categories_path, :class => "back-link"
%p= t("categories.show.blurb")
    
%ul#photos.sortable{:rel => order_photos_category_path(@category)}
  - @category.photos.each do |photo|
    %li.photo{:rel => photo.id, :id => "entry-#{photo.id}"}
      = image_tag photo.flickr_url_s
      .title
        = photo.title
        #actions
          = link_to t("edit"), edit_photo_path(photo, :category_id => @category.id), :class => "action"
          = link_to t("delete"), photo_path(photo, :category_id => @category.id), :class => "delete action", :rel => "#entry-#{photo.id}"

.bottom-reset
  = t("categories.show.refresh")
  - form_tag refresh_category_path(@category), :id => "reset-category" do
    = submit_tag t("categories.show.refresh_button")
    
.bottom-reset
  = t("categories.show.reset")
  - form_tag reset_category_path(@category), :id => "reset-category" do
    = submit_tag t("categories.show.reset_button")