= form_for RemoteAccount.new, :url => remote_accounts_path do |f|
  = hidden_field_tag :type, "RemoteAccount::Facebook"
  
  = f.label :remote_profile_url
  = f.text_field :remote_profile_url
  
  .submit-wrapper
    = f.submit t("remote_accounts.new.submit")