- form_for @user_session do |f|
  = f.label :login
  = f.text_field :login, :class => "text"

  = f.label :password
  = f.password_field :password, :class => "text"

  .forgotten-password-wrapper
    = link_to t("forgotten_passwords.link_text"), reset_password_path

  .submit-wrapper
    = f.submit t("login")
