!!!
%html
%head
  %title= t("app_name")
  = stylesheet_link_tag "compiled/back", "jquery.gritter"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", "jquery.gritter.min.js", "jquery-ui-1.8.11.custom.min.js", "back.js" 

  = csrf_meta_tag 

%body
  = render :partial => "/shared/errors"
        
  %header
    %h1= t("back.title")
    #logout
      = t("logged_in", :mail => current_user.email)
      = link_to t("logout"), logout_path
    
  - if @current_portfolio.setup?
    = render :partial => "/shared/nav"
    
  #content
    = yield 

  %footer
    &nbsp;
  