!!!
%html
%head
  %title= t("app_name")
  = stylesheet_link_tag "compiled/back", "jquery.gritter"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", "jquery.gritter.min.js", "jquery-ui-1.8.11.custom.min.js", "back.js" 

  = csrf_meta_tag 

%body
  - unless flash.nil? or flash[:notice].blank?
    :javascript
      $(function(){
        startGritter("#{escape_javascript flash[:notice][:title]}", "#{escape_javascript flash[:notice][:text]}");
      });
      
  - unless flash.nil? or flash[:error].blank?
    :javascript
      $(function(){
        startGritter("#{escape_javascript flash[:error][:title]}", "#{escape_javascript flash[:error][:text]}");
      });
        
  %header
    %h1= t("back.title")
    #logout
      Logged in as #{current_user.email}
      = link_to t("logout"), "/logout"
    
  - if @current_portfolio.setup?
    = render :partial => "/shared/nav"
    
  #content
    = yield 

  %footer
    &nbsp;
  
  