!!!
%html
%head
  %title= t("app_name")
  = stylesheet_link_tag "compiled/back", "jquery.gritter"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", "jquery.gritter.min.js", "jquery-ui-1.8.11.custom.min.js", "back.js" 

  = csrf_meta_tag 

%body
  = render :partial => "/shared/errors"
  %header
    .grid
      %h1 &nbsp;
      - unless @current_user.nil?
        #logout
          = t("logged_in", :name => current_user.login)
          = link_to t("logout"), logout_path
          
      - if @current_portfolio and @current_portfolio.setup?
        = link_to t("back.header.view_website"), showcase_path(:slug => @current_portfolio.slug), :id => "showcase-link"
  
  - if @current_portfolio and @current_portfolio.setup?
    = render :partial => "/shared/nav"
    
  #content
    = yield 

  %footer
    .grid
      .extra-nav
        = link_to t("back.footer.home")
        = link_to t("back.footer.contact")
        = link_to t("back.footer.twitter")
        = link_to t("back.footer.terms")
        
      .extra-details
        =raw t("back.footer.copyright")
      