!!!
%html
%head
  %title= @portfolio.title
  %style{:media => "screen", :rel => "stylesheet", :type => "text/css" }
    = @portfolio.css
    
%body{:id => @category.blank? ? "" : "category-#{@category.id}"}
  %header
    %h1= @portfolio.title
    %p= @portfolio.description
    
  %nav
    - @portfolio.categories.each do |category|
      .nav-link-wrapper
        = link_to category.name, "/showcase/#{@portfolio.id}/#{category.id}"
  
  #content 
    = yield 

  %footer
  
  #footest
    Portfolio powered by RLVNT, original theme by @marcgg