!!!
%html
%head
  %title= @portfolio.title
  - if @portfolio.theme_id.blank?
    %style{:media => "screen", :rel => "stylesheet", :type => "text/css"}= @portfolio.css
  - else
    = stylesheet_link_tag "themes/#{@portfolio.theme[:code]}"
  = stylesheet_link_tag "compiled/shared_front"

  %meta{:name => "title", :content => @portfolio.title}
  - if @portfolio.description.blank?
    %meta{:name => "description", :content => "Photo portfolio of #{@portfolio.user.login} powered by ffocused"}
  - else
    %meta{:name => "description", :content => @portfolio.description}

  %meta{:property => "og:title",  :content => @portfolio.title}
  %meta{:property => "og:type",   :content => "website"}
  %meta{:property => "og:image",  :content => @portfolio.contextual_photo(@category).large_photo_url}

%body{:id => (@category ? "category-#{@category.id}" : ""), :class => ((@category and @category.remote_account) ? "account-#{@category.remote_account.public_name}" : "")}

  - if params[:theme_id]
    #previewing
      You are currently previewing the theme #{THEMES[params[:theme_id].to_i][:title]}

  %header
    %h1= @portfolio.title
    - unless @portfolio.description.blank?
      %p= @portfolio.description

  #nav-top= render :partial => "/front/nav"

  #content= yield

  #nav-bottom= render :partial => "/front/nav"

  - unless @portfolio.footer.blank?
    %footer
      = @portfolio.footer

  /
    If really necessary, removing credits can be done by contacting us directly.
    Feel free to style it, but please be nice and keep it visible somehow.

  #footest
    %span.ffocused
      = link_to "Portfolio powered by f/Focused", "http://ffocused.com"
    - unless @portfolio.theme_id.blank?
      %span.theme
        Original theme by
        = raw @portfolio.theme[:user]
        under license
        = link_to "Creative Commons 'Attribution Non Commercial'", "http://creativecommons.org/licenses/by-nc/3.0/"

  = render :partial => "/shared/google_analytics" if Rails.env == "production"

  - unless @portfolio.google_analytics_code.blank?
    = render :partial => "/shared/google_analytics", :locals => {:code => @portfolio.google_analytics_code}
